@import '../styles/variables.css';

.containerProfile {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 0.4rem;
}

.profileImage {
    width: 14rem;
    height: 14rem;

    border: solid 0.5rem var(--cor-aux);
    border-radius: 15rem;

}

.title {
    font: 800 2.5rem var(--fonte-principal);
    color: #fff;
}

.subtitle {
    font: 600 1.8rem var(--fonte-principal);
    color: #fff;
}
