@import '../styles/variables.css';

.containerProfile {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 1rem;
}

.profileImage {
    width: 20rem;
    height: 20rem;

    border: solid 0.5rem var(--cor-aux);
    border-radius: 15rem;

}

.title {
    font: 800 2.2rem var(--fonte-principal);
    background-color: #000;

    color: #fff;
}

.subtitle {
    font: 600 1.8rem var(--fonte-principal);

    background-color: #000;
    color: #fff;
}
