@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
    --fonte-principal: "Nunito", sans-serif; 
    --cor-principal: #1b297d;
    --cor-secundaria: #429ffc;
    --cor-aux: #ff5225;
    --cor-fundo: #F4FDFF;
}